body,html{

}

/*nav start*/
.nav{

}
a.navbar-brand{
    width: 10%;
    text-align: center;
}
.myContainer{
    width: 80%;
    float: left;
    /*text-align: center;*/
}
ul.nav{
    width:90%;
}
ul.nav li{
    width: 16.666667%;
    /*border: 1px solid black;*/
}
.firstNav{
    margin-bottom: 0px;
}
/*nav end*/